<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <div class="alert alert-primary" id="excluido" role="alert">
            Alterado com sucesso!
          </div>
            <div id="center">
             <a href="http://localhost:3000/addgarcom"><button class="btn btn-dark">Return to Garcom</button></a>
          </div>
    </div>
</body>
<%- include('partials/footer.ejs');%>