
<%- include('partials/header.ejs'); %>

<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container">
            <h1>Bv ao meu site!</h1>
        <button class="btn btn-primary">edd</button>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>